.widget {
  display: block;
  border: #f0ebeb solid 1px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fafafa;
  width: 400px;
  margin-left: 20px;
}

.content {
  background-color: #fff;
  padding: 2rem;
  height: calc(100vh - 64px);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
