:host {
  display: block;
  text-align: center;
  position: relative;
  min-width: 190px;
}

.widget-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget {
  display: block;
  border: #f0ebeb solid 1px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fafafa;
  width: 400px;
  margin-left: 20px;
}

.content {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
